---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {}

const { ...attrs } = Astro.props;
---

<div class:list={["flex", attrs.class, attrs["class:list"]]} {...attrs}>
  <slot />
</div>
