---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {
  color?: string;
}

const { color = "bg-white", ...attrs } = Astro.props;
---

<div
  class:list={[
    "relative z-0 ml-3 cursor-pointer self-center border-none bg-transparent p-0",
  ]}
>
  <span
    class:list={[
      "absolute top-0 left-0 h-full w-80 rounded-xl brightness-80",
      color,
    ]}></span>
  <button
    class:list={[
      "text-12 relative block w-80 -translate-y-[6px] cursor-pointer rounded-xl px-6 py-4 text-xl font-bold text-black transition-all duration-100 select-none",
      "hover:-translate-y-[8px] hover:brightness-110 hover:duration-600",
      "active:-translate-y-1 active:duration-30",
      color,
      attrs.class,
      attrs["class:list"],
    ]}
    {...attrs}
  >
    <slot />
  </button>
</div>
