<footer
  class:list={[
    "bg-primary z-3 flex h-full flex-col items-center p-6 text-white shadow-md",
  ]}
>
  <!-- <div class="flex flex-row justify-center gap-15 py-10">
    <figure class="flex w-75 flex-col">
      <img src="../src/assets/img/logo.png" class="w-50" />
      <figcaption class="my-3 font-bold italic">
        Innovación para la eficiencia
      </figcaption>
      <p>
        Somos una empresa venezolana dedicada a la implementacion de soluciones
        tecnologicas para tu negocio.
      </p>
    </figure>

    {
      lists.map((list) => (
        <figure>
          <figcaption class="text-xl font-bold uppercase">
            {list.name}
          </figcaption>
          <ul class="text-left text-lg">
            {list.list.map((item, itemIndex) => (
              <li class:list={["flex flex-row items-center"]}>
                <div
                  class:list={[
                    "flex self-start border-l border-dashed border-neutral-500",
                    list.list.length - 1 === itemIndex ? "h-[14px]" : "h-8",
                  ]}
                />
                <div class="mr-2 w-5 border-b border-dashed border-neutral-500" />
                {item.name}
              </li>
            ))}
          </ul>
        </figure>
      ))
    }
  </div> -->

  <!-- <div class="my-4 w-full border-t-1 border-dashed border-neutral-500"></div> -->
  <small
    >Copyright &copy; 2025 ACH SYSTEMS. Todos los derechos reservados.</small
  >
</footer>
