---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"input"> {
  label?: string;
}

const { label, ...attrs } = Astro.props;
const hasSlot = Astro.slots.default;
---

<label class="flex w-full cursor-pointer items-center gap-2">
  <input type="radio" {...attrs} class="peer absolute ml-[1px]" />
  <div
    class="flex h-4 w-4 items-center justify-center rounded-full border border-gray-500"
  >
    <div class="h-2 w-2 rounded-full bg-white"></div>
  </div>
  {hasSlot && <span>{label || <slot />}</span>}
</label>
